.loginFormCard {
  background-color: rgb(238, 181, 58);
  width: 30vw;
  margin-top: 10em;
}

.loginHeadline {
  margin-top: 1em;
  color: white;
}

.loginFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginField {
  width: 40%;
  margin-top: 2em;
}

.loginInput:focus,
.loginButton:focus {
  outline: none;
  border: 2px solid black;
}

.loginButton {
  margin: 4em auto;
}
