.userFormCard {
  background-color: rgb(238, 181, 58);
  width: 30vw;
  margin-top: 10em;
}

.userHeadline {
  margin-top: 1em;
  color: white;
}

.userFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.userField {
  width: 40%;
  margin-top: 2em;
}

.userInput:focus,
.userButton:focus {
  outline: none;
  border: 2px solid black;
}

.userButton {
  margin: 4em auto;
}

@media (max-width: 1500px) {
  .userFormCard {
    width: 60vw;
  }

  .userField {
    width: 40%;
  }

  .userInput {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .userField {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .userFormCard {
    width: 80vw;
  }

  .userField {
    width: 70%;
  }

  .userInput {
    width: 100%;
  }
}
