.productDetailsCard {
  width: 40vw;
  background-color: rgb(230, 169, 39);
}

.productDetailsContainer {
  display: flex;
}

.productImageContainer {
  width: 20%;
  margin: 2em 0 2em 2em;
}

.productImage {
  width: 100%;
}

.productDetailsTextContainer {
  width: 60%;
  display: block;
  margin: auto;
}

.productTitleAndCategoryContainer {
  margin: 1em auto;
}

.productDetailsPriceQuantityAddToCartContainer {
  width: 80%;
  margin: 2em auto 2em auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.productDetailsQuantity {
  width: 3em;
  text-align: center;
}

.productDetailsLoginPrompt {
  margin-top: 1em;
  color: rgb(35, 35, 153);
}

.goToCartButton {
  margin: auto;
  background-color: rgb(238, 185, 70);
  color: white;
  margin-bottom: 2em;
  text-shadow: 1px 1px 1px black;
}

.adminButtonsContainer {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.editButton {
  margin-right: 1em;
  background-color: rgb(72, 182, 145);
  color: white;
  text-shadow: 1px 1px 1px black;
}

.deleteButton {
  background-color: rgb(238, 99, 127);
  color: white;
  text-shadow: 1px 1px 1px black;
}

@media (max-width: 1500px) {
  .productDetailsCard {
    width: 70vw;
    justify-content: center;
  }

  .productDetailsPriceQuantityAddToCartContainer {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .productDetailsCard {
    width: 70vw;
    justify-content: center;
  }

  .productDetailsContainer {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  .productImageContainer {
    width: 50%;
    margin: 2em auto;
  }

  .productDetailsTextContainer {
    width: 90%;
    font-size: 1.2rem;
  }

  .productDetailsPriceQuantityAddToCartContainer {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .productDetailsCard {
    width: 90vw;
    justify-content: center;
  }

  .productImageContainer {
    width: 60%;
    margin: 1em auto;
  }

  .productDetailsTextContainer {
    width: 95%;
  }

  .productDetailsPriceQuantityAddToCartContainer {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .productDetailsIncreaseAndDecreaseButton {
    font-size: 0.5rem;
  }

  .addToCartButton > * {
    font-size: 1rem;
  }

  .editButton > *,
  .deleteButton > * {
    font-size: 1rem;
  }
}
