.productListContainerWrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.productListContainer {
  width: 70vw;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.loadingSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
}
