.productListContainerWrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.productListContainer {
  width: 70vw;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.loadingSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
}

@media (max-width: 1200px) {
  .productListContainer {
    width: 90vw;
  }
}

@media (max-width: 900px) {
  .productListContainer {
    width: 90vw;
  }
}

@media (max-width: 500px) {
  .productListContainerWrapper {
    margin-top: 1em;
  }

  .productListContainer {
    width: 100vw;
    grid-template-columns: 1fr;
  }
}
