.button {
  padding: 0 2em;
  border-radius: 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
}

.buttonText {
  font-size: 1.5rem;
}
