.mobileNavBurger {
  position: fixed;
  top: 3%;
  left: 3%;
  fill: white;
  stroke: black;
  z-index: 1002;
  /* border: 2px solid red; */
}
.mobileNavClose {
  position: fixed;
  top: 1%;
  left: 4%;
  font-size: 3rem;
  color: white;
  z-index: 1002;
}

.mobileNavContainer {
  position: absolute;
  z-index: 1001;
}

.mobileNavOverlay {
  position: fixed;
  width: 80vw;
  height: 100vh;
  background-color: rgba(99, 79, 38, 0.7);
  transform: translateX(-100%);
  animation: mobileNav 0.2s forwards ease-in;
}

@keyframes mobileNav {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.navContainer {
  margin-top: 2em;
}

.navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 1em;
}

.symbol {
  display: flex;
  padding: 0.23em;
  margin-bottom: 0.18em;
}

.userFunctionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1em 2em;
}
.userFunctionsContainer > * {
  margin-bottom: 1em;
}

.userHandling {
  display: flex;
  flex-direction: column;
}

.userHandlingLink {
  font-size: 1.5rem;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 0.5em;
}
