.navContainer {
  display: flex;
  list-style: none;
}

.navLink {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 2em;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}

.navLink:hover {
  color: rgb(192, 245, 255);
}

.symbol {
  display: flex;
  background-color: rgb(236, 176, 45);
  border-radius: 2em;
  padding: 0.23em;
  margin-right: 0.3em;
}

.linkName {
  text-shadow: 1px 1px 2px rgb(50, 90, 92);
  padding-right: 1em;
}

@media (max-width: 500px) {
  .navLink {
    font-size: 0.7rem;
  }
}
