.active {
  background-color: rgb(233, 180, 67);
  color: white;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.pageButton {
  font-size: 1.5rem;
}

@media (max-width: 500px) {
  .paginationContainer {
    width: 100vw;
  }

  .pageButton {
    font-size: 1rem;
    padding: 0 1em;
    border-radius: 0.6em;
  }
}
